@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f1f2f7;
}

.titleBar {
    padding: 1%;
    background-color: white;
}

.content {
    background-color: #f1f2f7 !important;
    padding: 40px !important;
    padding-top: 20px !important;
}

.navbar-default {
    min-height: 70px !important;
    background-color: white !important;
}